// ==========================================================================
// Footer
// ==========================================================================

.footer {
  text-align: $text--center;
  padding: $gutters;

  @include m(col) {
    color: $dodgerblue;
  }
}
